## Exercícios

> Retirados de [learn-python: sqlalchemy_orm-questions](https://aviadr1.github.io/learn-advanced-python/11_db_access/exercise/sqlalchemy_orm-questions.html).

#### Q1.

Baixa e extraia o arquivo compactado com o banco de dados [Chinook database](https://www.sqlitetutorial.net/sqlite-sample-database/). Salve o arquivo `chinook.db` na mesma pasta deste script.
* Link para baixar: http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

<img width=500 src=https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg>

#### Q2.

Leia o código e os comentários das células a seguir para entender como acessamos os modelos ORM de um banco já existente.

In [52]:
from sqlalchemy import create_engine, text, MetaData,select,desc,func
from sqlalchemy.orm import Session

engine = create_engine("sqlite+pysqlite:///chinook.db", echo=False)

### extrai as classes da base de dados Chinook
metadata = MetaData()
metadata.reflect(engine)

# O metadata tem informações sobre as tabelas
# que serão usadas para criar os modelos ORM
for table_name, table in metadata.tables.items():
    print(table_name)
    print(table.columns.keys())
    print(table.columns.items())
    print('-'*25)

### configura o objeto Base mapeando os modelos ORM das tabelas
from sqlalchemy.ext.automap import automap_base
Base = automap_base(metadata=metadata)
Base.prepare()

# o objeto Base tem os modelos ORM que podemos usar
# para manipular o banco de dados
print(Base.classes.items())

albums
['AlbumId', 'Title', 'ArtistId']
[('AlbumId', Column('AlbumId', INTEGER(), table=<albums>, primary_key=True, nullable=False)), ('Title', Column('Title', NVARCHAR(length=160), table=<albums>, nullable=False)), ('ArtistId', Column('ArtistId', INTEGER(), ForeignKey('artists.ArtistId'), table=<albums>, nullable=False))]
-------------------------
artists
['ArtistId', 'Name']
[('ArtistId', Column('ArtistId', INTEGER(), table=<artists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<artists>))]
-------------------------
customers
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
[('CustomerId', Column('CustomerId', INTEGER(), table=<customers>, primary_key=True, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False)), ('Company', Column('Company', NVARCHAR(length=80), table=<customers>)), ('Address', Column('Address', NVARCHAR(length=70), table=<customers>)), ('City', Column('City', NVARCHAR(length=40), table=<customers>)), ('State', Column('State', NVARCHAR(length=40), table=<customers>)), ('Country', Column('Country', NVARCHAR(length=40), table=<customers>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<customers>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<customers>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<customers>)), ('Email', Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False)), ('SupportRepId', Column('SupportRepId', INTEGER(), ForeignKey('employees.EmployeeId'), table=<customers>))]
-------------------------
employees
['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
[('EmployeeId', Column('EmployeeId', INTEGER(), table=<employees>, primary_key=True, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('Title', Column('Title', NVARCHAR(length=30), table=<employees>)), ('ReportsTo', Column('ReportsTo', INTEGER(), ForeignKey('employees.EmployeeId'), table=<employees>)), ('BirthDate', Column('BirthDate', DATETIME(), table=<employees>)), ('HireDate', Column('HireDate', DATETIME(), table=<employees>)), ('Address', Column('Address', NVARCHAR(length=70), table=<employees>)), ('City', Column('City', NVARCHAR(length=40), table=<employees>)), ('State', Column('State', NVARCHAR(length=40), table=<employees>)), ('Country', Column('Country', NVARCHAR(length=40), table=<employees>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<employees>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<employees>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<employees>)), ('Email', Column('Email', NVARCHAR(length=60), table=<employees>))]
-------------------------
genres
['GenreId', 'Name']
[('GenreId', Column('GenreId', INTEGER(), table=<genres>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<genres>))]
-------------------------
invoice_items
['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
[('InvoiceLineId', Column('InvoiceLineId', INTEGER(), table=<invoice_items>, primary_key=True, nullable=False)), ('InvoiceId', Column('InvoiceId', INTEGER(), ForeignKey('invoices.InvoiceId'), table=<invoice_items>, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<invoice_items>, nullable=False)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<invoice_items>, nullable=False)), ('Quantity', Column('Quantity', INTEGER(), table=<invoice_items>, nullable=False))]
-------------------------
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
[('TrackId', Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False)), ('AlbumId', Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>)), ('MediaTypeId', Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False)), ('GenreId', Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>)), ('Composer', Column('Composer', NVARCHAR(length=220), table=<tracks>)), ('Milliseconds', Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False)), ('Bytes', Column('Bytes', INTEGER(), table=<tracks>)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False))]
-------------------------
media_types
['MediaTypeId', 'Name']
[('MediaTypeId', Column('MediaTypeId', INTEGER(), table=<media_types>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<media_types>))]
-------------------------
invoices
['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
[('InvoiceId', Column('InvoiceId', INTEGER(), table=<invoices>, primary_key=True, nullable=False)), ('CustomerId', Column('CustomerId', INTEGER(), ForeignKey('customers.CustomerId'), table=<invoices>, nullable=False)), ('InvoiceDate', Column('InvoiceDate', DATETIME(), table=<invoices>, nullable=False)), ('BillingAddress', Column('BillingAddress', NVARCHAR(length=70), table=<invoices>)), ('BillingCity', Column('BillingCity', NVARCHAR(length=40), table=<invoices>)), ('BillingState', Column('BillingState', NVARCHAR(length=40), table=<invoices>)), ('BillingCountry', Column('BillingCountry', NVARCHAR(length=40), table=<invoices>)), ('BillingPostalCode', Column('BillingPostalCode', NVARCHAR(length=10), table=<invoices>)), ('Total', Column('Total', NUMERIC(precision=10, scale=2), table=<invoices>, nullable=False))]
-------------------------
playlist_track
['PlaylistId', 'TrackId']
[('PlaylistId', Column('PlaylistId', INTEGER(), ForeignKey('playlists.PlaylistId'), table=<playlist_track>, primary_key=True, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<playlist_track>, primary_key=True, nullable=False))]
-------------------------
playlists
['PlaylistId', 'Name']
[('PlaylistId', Column('PlaylistId', INTEGER(), table=<playlists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<playlists>))]
-------------------------
[('genres', <class 'sqlalchemy.ext.automap.genres'>), ('albums', <class 'sqlalchemy.ext.automap.albums'>), ('customers', <class 'sqlalchemy.ext.automap.customers'>), ('employees', <class 'sqlalchemy.ext.automap.employees'>), ('invoice_items', <class 'sqlalchemy.ext.automap.invoice_items'>), ('media_types', <class 'sqlalchemy.ext.automap.media_types'>), ('tracks', <class 'sqlalchemy.ext.automap.tracks'>), ('invoices', <class 'sqlalchemy.ext.automap.invoices'>), ('playlists', <class 'sqlalchemy.ext.automap.playlists'>), ('artists', <class 'sqlalchemy.ext.automap.artists'>)]

In [53]:
# A seguir um exemplo de query na tabela Albums
# usamos o objeto Base para acessar cada modelo ORM.

session = Session(engine)
res = session.scalars(select(Base.classes.albums))
first_album = res.first()
print(first_album.AlbumId, first_album.Title)

1 For Those About To Rock We Salute You

#### Q3. 
Com base nos códigos anteriores realize as operações solicitadas nas células a seguir:

In [54]:
### Imprima os três primeiros registros da tabela tracks
albums = Base.classes.albums
res = session.scalars(select(albums).limit(3)).all()
for album in res:
    print(album.AlbumId,album.Title)

1 For Those About To Rock We Salute You
2 Balls to the Wall
3 Restless and Wild

In [55]:
### Imprima o nome da faixa e o título do álbum das primeiras 20 faixas na tabela tracks.
tracks = Base.classes.tracks
albums = Base.classes.albums
query_tracks = session.execute(select(tracks).limit(20)).scalars().all()
i = 0
lista_name_album = []
lista_track_name = []
for track in query_tracks:
    query_album = session.execute(select(albums).where(albums.AlbumId == track.AlbumId)).scalars().all()
    lista_track_name.append(track.Name)
    for album in query_album:
        lista_name_album.append(album.Title)
    
for i in range(len(lista_track_name)):
    print(f'Faixa: {lista_track_name[i]} --- Album: {lista_name_album[i]}')

Faixa: For Those About To Rock (We Salute You) --- Album: For Those About To Rock We Salute You
Faixa: Balls to the Wall --- Album: Balls to the Wall
Faixa: Fast As a Shark --- Album: Restless and Wild
Faixa: Restless and Wild --- Album: Restless and Wild
Faixa: Princess of the Dawn --- Album: Restless and Wild
Faixa: Put The Finger On You --- Album: For Those About To Rock We Salute You
Faixa: Let's Get It Up --- Album: For Those About To Rock We Salute You
Faixa: Inject The Venom --- Album: For Those About To Rock We Salute You
Faixa: Snowballed --- Album: For Those About To Rock We Salute You
Faixa: Evil Walks --- Album: For Those About To Rock We Salute You
Faixa: C.O.D. --- Album: For Those About To Rock We Salute You
Faixa: Breaking The Rules --- Album: For Those About To Rock We Salute You
Faixa: Night Of The Long Knives --- Album: For Those About To Rock We Salute You
Faixa: Spellbound --- Album: For Those About To Rock We Salute You
Faixa: Go Down --- Album: Let There Be Rock
Faixa: Dog Eat Dog --- Album: Let There Be Rock
Faixa: Let There Be Rock --- Album: Let There Be Rock
Faixa: Bad Boy Boogie --- Album: Let There Be Rock
Faixa: Problem Child --- Album: Let There Be Rock
Faixa: Overdose --- Album: Let There Be Rock

In [56]:
### Imprima as 10 primeiras vendas de faixas da tabela invoice_items
### Para essas 10 primeiras vendas, imprima os nomes das faixas vendidas e a quantidade vendida.
tracks = Base.classes.tracks
invoice_items = Base.classes.invoice_items 
query_invoice = session.execute(select(invoice_items).limit(10)).scalars().all()
# for item in query_invoice:
#     for column in item.__table__.columns:
#         nome = column.name
#         valor = getattr(item, nome)
#         print(f"{nome}: {valor}")
#     print('-' * 30)


for invoice in query_invoice:
    query_faixa = session.execute(select(tracks).where(tracks.TrackId == invoice.TrackId)).scalars().first()
    print(f'Faixa: {query_faixa.Name} --- Quantidade: {invoice.Quantity}')

Faixa: Balls to the Wall --- Quantidade: 1
Faixa: Restless and Wild --- Quantidade: 1
Faixa: Put The Finger On You --- Quantidade: 1
Faixa: Inject The Venom --- Quantidade: 1
Faixa: Evil Walks --- Quantidade: 1
Faixa: Breaking The Rules --- Quantidade: 1
Faixa: Dog Eat Dog --- Quantidade: 1
Faixa: Overdose --- Quantidade: 1
Faixa: Love In An Elevator --- Quantidade: 1
Faixa: Janie's Got A Gun --- Quantidade: 1

In [57]:
### Imprima os nomes das 10 faixas mais vendidas e quantas vezes foram vendidas.
query_desc_quantity = session.execute(select(invoice_items)).scalars().all()
i = 0
dict_quantidade = {}
for invoice in query_desc_quantity:
    dict_quantidade[invoice.TrackId] = dict_quantidade.get(invoice.TrackId, 0) + 1

dict_ordenado = dict(sorted(dict_quantidade.items(), key=lambda item: item[1], reverse=True))

for track_id, quantidade in dict_ordenado.items():
    if i < 10:
        query_faixa = session.execute(select(tracks).where(tracks.TrackId == track_id)).scalars().first()
        print(f"Faixa: {query_faixa.Name} --- Quantidade de vendas: {quantidade}")
    i += 1

Faixa: Balls to the Wall --- Quantidade de vendas: 2
Faixa: Inject The Venom --- Quantidade de vendas: 2
Faixa: Overdose --- Quantidade de vendas: 2
Faixa: Deuces Are Wild --- Quantidade de vendas: 2
Faixa: Not The Doctor --- Quantidade de vendas: 2
Faixa: Por Causa De Você --- Quantidade de vendas: 2
Faixa: Welcome Home (Sanitarium) --- Quantidade de vendas: 2
Faixa: Cornucopia --- Quantidade de vendas: 2
Faixa: Bowels Of The Devil --- Quantidade de vendas: 2
Faixa: When My Left Eye Jumps --- Quantidade de vendas: 2

In [59]:
### Quem são os 10 artistas que mais venderam?
### dica: você precisa juntar as tabelas invoice_items, tracks, albums e artists
invoice_items = Base.classes.invoice_items
tracks = Base.classes.tracks
albums = Base.classes.albums
artists = Base.classes.artists

query = (
    select(artists.Name, func.sum(invoice_items.Quantity).label('total_vendas'))
    .join(albums, albums.ArtistId == artists.ArtistId)
    .join(tracks, tracks.AlbumId == albums.AlbumId)
    .join(invoice_items, invoice_items.TrackId == tracks.TrackId)
    .group_by(artists.ArtistId)
    .order_by(desc('total_vendas'))
    .limit(10)
)

resultado = session.execute(query).all()
for nome, total in resultado:
    print(f"{nome}: {total}")

Iron Maiden: 140
U2: 107
Metallica: 91
Led Zeppelin: 87
Os Paralamas Do Sucesso: 45
Deep Purple: 44
Faith No More: 42
Lost: 41
Eric Clapton: 40
R.E.M.: 39