> Projeto Desenvolve <br>
Programação Intermediária com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exercícios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A célula a seguir já carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

wcwomen_df = pd.read_csv('matches_1991_2023.csv')
wcmen_df   = pd.read_csv('matches_1930_2022.csv')
wc = pd.concat((wcwomen_df,wcmen_df)).reset_index()

nomes_traduzidos = {'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
                    'Date': 'data', 'Year': 'ano', 'Host': 'país_sede', 'Attendance': 'comparecimento',
                    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
                    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
                    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
                    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
                    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

copa = wc['ano'].apply( lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')
wc['copa'] = copa

#### Q1.
Faça as conversões de tipo necessárias para que a saída do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   país_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [2]:

wc[['gols_1','gols_2','ano','comparecimento']] = wc[['gols_1','gols_2','ano','comparecimento']].astype('int64')
wc['rodada'] = wc['rodada'].astype('category')
wc['data'] = pd.to_datetime(wc['data'], format='%Y-%m-%d')
wc [['time_1','time_2','país_sede','gols_1_detalhes','gols_2_detalhes','gols_1_contra','gols_2_contra','gols_1_penalti','gols_2_penalti','cartao_vermelho_1','cartao_vermelho_2','cartao_amarelo_1','cartao_amarelo_2','copa']] = wc[['time_1','time_2','país_sede','gols_1_detalhes','gols_2_detalhes','gols_1_contra','gols_2_contra','gols_1_penalti','gols_2_penalti','cartao_vermelho_1','cartao_vermelho_2','cartao_amarelo_1','cartao_amarelo_2','copa']].astype('string')
wc.info()
wc.to_csv('wc_formatado.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   string
 1   time_2             1312 non-null   string
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64
 6   país_sede          1312 non-null   string
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   object
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
dtypes: category(1), datetime64[ns](1), int64(4), object(1), string(14)
memory usage: 206.8+ KB

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audiência da história.

In [3]:
comparecimento_maximo = wc.loc[wc['comparecimento'].idxmax()]
display(comparecimento_maximo)

time_1                                                         Uruguay
time_2                                                          Brazil
gols_1                                                               2
gols_2                                                               1
data                                               1950-07-16 00:00:00
ano                                                               1950
país_sede                                                       Brazil
comparecimento                                                  173850
resultado                                                          2–1
rodada                                                     Final stage
gols_1_detalhes      Juan Alberto Schiaffino · 66|Alcides Ghiggia · 79
gols_2_detalhes                                            Friaça · 47
gols_1_contra                                                     <NA>
gols_2_contra                                                     <NA>
gols_1_penalti                                                    <NA>
gols_2_penalti                                                    <NA>
cartao_vermelho_1                                                 <NA>
cartao_vermelho_2                                                 <NA>
cartao_amarelo_1                                                  <NA>
cartao_amarelo_2                                                  <NA>
copa                                                         Masculina
Name: 1238, dtype: object

#### Q3.
Aplicando operações sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas já aconteceram na história.

Exemplo de saída (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [4]:
df_ordenado = wc.sort_values('ano')
df_copa = df_ordenado.groupby('copa')
df_1 = df_copa.get_group('Masculina')
df_2 = df_copa.get_group('Feminina')
quantidade_copas_masculina = (df_1.iloc[-1,5] - df_1.iloc[0,5])/4 - 2 + 1# 2ª Guerra Mundial  e a primeira copa conta
quantidade_copas_feminina = (df_2.iloc[-1,5] - df_2.iloc[0,5])/4 + 1 # A primeira conta
print(f'Masculina: {quantidade_copas_masculina}')
print(f'Feminina: {quantidade_copas_feminina}')

# display(df_1.head())
# display(df_2.head())

Masculina: 22.0
Feminina: 9.0

#### Q3. 
Crie um dataframe `participacao` com as colunas `país`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada país participou, informando se é da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 países de cada competição que mais participou de copas do mundo.

Exemplo de saída (valores inventados):
```
país            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
país            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

In [5]:

# Supondo que 'wc' é o DataFrame original
# 1. Unir os países das colunas time_1 e time_2 em um único DataFrame
times_1 = wc[['time_1', 'ano', 'copa','gols_1','gols_2','cartao_amarelo_1','cartao_amarelo_2']].rename(columns={'time_1': 'pais'})
times_2 = wc[['time_2', 'ano', 'copa','gols_1','gols_2','cartao_amarelo_1','cartao_amarelo_2']].rename(columns={'time_2': 'pais'})

# 2. Concatenar os dois DataFrames
todos_times = pd.concat([times_1, times_2])

# 3. Remover duplicatas: um país pode aparecer mais de uma vez por ano/copa
todos_times = todos_times.drop_duplicates()

# 4. Contar quantos anos únicos cada país participou, por tipo de copa
participacao = todos_times.groupby(['pais', 'copa'])['ano'].nunique().reset_index(name='num_copas')

# 5. Mostrar os 5 países que mais participaram de cada copa
top_feminina = participacao[participacao['copa'] == 'Feminina'].sort_values('num_copas', ascending=False).head(5)
top_masculina = participacao[participacao['copa'] == 'Masculina'].sort_values('num_copas', ascending=False).head(5)

# 6. Mostrar resultados
print("Top 5 Feminina:")
print(top_feminina)
print("\nTop 5 Masculina:")
print(top_masculina)

Top 5 Feminina:
        pais      copa  num_copas
78   Nigeria  Feminina          9
110   Sweden  Feminina          9
63     Japan  Feminina          9
81    Norway  Feminina          9
45   Germany  Feminina          9

Top 5 Masculina:
         pais       copa  num_copas
11     Brazil  Masculina         22
3   Argentina  Masculina         18
60      Italy  Masculina         18
71     Mexico  Masculina         17
44     France  Masculina         16

#### Q4. 
* Crie um dataframe `gols` com duas colunas `país` e `total_gols` com o total de gols marcados por cada país durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
país        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [6]:
dict_gols = {}

for _, row in wc.iterrows():
    dict_gols[row['time_1']] = dict_gols.get(row['time_1'], 0) + row['gols_1']
    dict_gols[row['time_2']] = dict_gols.get(row['time_2'], 0) + row['gols_2']

df_gols = pd.DataFrame.from_dict(dict_gols, orient='index', columns=['gols'])
df_gols.reset_index(inplace=True)
df_gols.columns = ['pais', 'gols']
df_gols = df_gols.sort_values('gols', ascending=False).head(5)

display(df_gols)

             pais  gols
20         Brazil   308
17        Germany   254
13  United States   182
4          France   180
2          Sweden   165

#### Q5. 
Qual país tomou mais cartões amarelos somando todas as copas?

Neste exercício você vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observação é uma string represetando uma lista dos cartões amarelos de um único jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16’|1:0|Rosana Gómez', '20’|2:0|Gabriela Chávez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o método genérico `apply` para chamar uma função que você vai criar para transformar uma observação de cartão amarelo em uma contagem de elementos da lista. 

Lembre de levar em consideração que muitas observações são `NaN`. 

Em seguida faça sua mágica para agrupar as informações por país, acumular os cartões de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
país        cartões amarelos
Argentina   97
England     93
Australia   93
...
```

In [7]:
dict_cartoes = {}
def contar_cartoes(valor):
    if pd.isna(valor):
        return 0
    return len(valor.split(','))
num_cartoes = wc
num_cartoes['num_cartoes_1'] = num_cartoes['cartao_amarelo_1'].apply(contar_cartoes)
num_cartoes['num_cartoes_2'] = num_cartoes['cartao_amarelo_2'].apply(contar_cartoes)

for _,row in num_cartoes.iterrows():
    dict_cartoes[row['time_1']] = dict_cartoes.get(row['time_1'],0) + row['num_cartoes_1']
    dict_cartoes[row['time_2']] = dict_cartoes.get(row['time_2'],0) + row['num_cartoes_2']

df_cartoes = pd.DataFrame.from_dict(dict_cartoes, orient='index', columns=['cartoes_amarelos'])
df_cartoes.reset_index(inplace=True)
df_cartoes.columns = ['pais', 'cartoes_amarelos']
df_cartoes = df_cartoes.sort_values('cartoes_amarelos', ascending=False).head(5)



display(df_cartoes)

           pais  cartoes_amarelos
20       Brazil               168
19    Argentina               162
17      Germany               124
6   Netherlands               117
18        Italy               108

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de pênalti.

Para conseguir essa informação, você precisará trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas também são colunas textuais, onde cada observações apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol está na forma `'Jogador(a) · minuto’'`. Por exemplo:
```
'Alex Morgan · 12’|Rose Lavelle · 20’'
```

Lembre de levar em consideração que muitas observações são `NaN`. 

Recomendo criar um dicionário à parte, onde cada chave será um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente será a contagem de ocorrências desses nomes.

Em seguida basta converter o seu dicionário em um dataframe e imprimí-lo na forma (valores não são inventados 😁):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```

In [ ]:
dict_gol_jogadores = {}
for index,row in wc.iterrows():
    if row['gols_1'] == row['gols_2']:
        
        gol = row['gols_1_detalhes']
        if pd.notna(gol):
          continue  
        
        elif "|" in gol:
            gol = gol.split("|")
            for jogador in gol:
                jogador.split("·")
                dict_gol_jogadores[jogador[0]] = dict_gol_jogadores.get(jogador[0],0 ) + 1 
        
        gol = row['gols_2_detalhes']
        if pd.notna(gol):
          continue
        
        elif "|" in gol:
            gol = gol.split("|")
            for jogador in gol:
                jogador.split("·")
                dict_gol_jogadores[jogador[0]] = dict_gol_jogadores.get(jogador[0],0) + 1 
        
    
    else:
        gol = row['gols_1_detalhes']
        row
        if "|" in gol:
            gol = gol.split("|")
            for jogador in gol:
                jogador.split("·")
                dict_gol_jogadores[jogador[0]] = dict_gol_jogadores.get(jogador[0],0 ) + 1 
        gol = row['gols_2_detalhes']
        
        if "|" in gol:
            gol = gol.split("|")
            for jogador in gol:
                jogador.split("·")
                dict_gol_jogadores[jogador[0]] = dict_gol_jogadores.get(jogador[0],0) + 1

TypeError: argument of type 'NAType' is not iterable